# 3.6 ファクター型と日付型

In [13]:
using DataFrames, CategoricalArrays, Dates

In [6]:
#ch03_46
firm_id = [1, 2, 3]
name = ["Firm A", "Firm B", "Firm C"]
industry = ["Machinary", "Chemicals", "Machinary"]

firm_data_df = DataFrame(
    firm_id = firm_id,
    name = name,
    industry = industry,
)

3×3 DataFrame
 Row │ firm_id  name    industry
     │ Int64    String  String
─────┼────────────────────────────
   1 │       1  Firm A  Machinary
   2 │       2  Firm B  Chemicals
   3 │       3  Firm C  Machinary

In [9]:
#ch03_47
firm_data_df[:, "industry"] = categorical(industry)
firm_data_df

3×3 DataFrame
 Row │ firm_id  name    industry
     │ Int64    String  String
─────┼────────────────────────────
   1 │       1  Firm A  Machinary
   2 │       2  Firm B  Chemicals
   3 │       3  Firm C  Machinary

In [12]:
#ch03_48
date_ = ["2021/4/1", "2021/4/2", "2021/4/5"]
rtn_ = [0.02, -0.01, -0.02]
stock_return_df = DataFrame(
    date = date_,
    stock_return = rtn_,
)

3×2 DataFrame
 Row │ date      stock_return
     │ String    Float64
─────┼────────────────────────
   1 │ 2021/4/1          0.02
   2 │ 2021/4/2         -0.01
   3 │ 2021/4/5         -0.02

In [22]:
#ch03_49
stock_return_df[!, :"date"] = [DateTime(x, "yyyy/MM/dd") for x in stock_return_df[:, "date"]]
stock_return_df

3×2 DataFrame
 Row │ date                 stock_return
     │ DateTime             Float64
─────┼───────────────────────────────────
   1 │ 2021-01-01T00:04:00          0.02
   2 │ 2021-01-02T00:04:00         -0.01
   3 │ 2021-01-05T00:04:00         -0.02

In [24]:
#ch03_50
stock_return_df[!, :"date"] = [x + Dates.Day(1) for x in stock_return_df[:, "date"]]
stock_return_df

3×2 DataFrame
 Row │ date                 stock_return
     │ DateTime             Float64
─────┼───────────────────────────────────
   1 │ 2021-01-02T00:04:00          0.02
   2 │ 2021-01-03T00:04:00         -0.01
   3 │ 2021-01-06T00:04:00         -0.02